/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

/*
 * add by tt
 * date 09-26-2015 15:56
*/
.relative{position: relative;}
.tt_dropdown_menu{width:450px;left:auto;right:0;margin-top:0;}
.dropdown-menu.tt_dropdown_menu{right:-60px;}
.tt_dropdown_menu .dropdown-box-body{padding:20px;}
.tt_dropdown_menu .col-sm-2,.tt_dropdown_menu .col-sm-10{padding-left:15px;padding-right: 15px}
.tt_dropdown_menu .tt_btns{margin-right:30px;padding-bottom:10px}
.dropdown-box.open .dropdown-toggle:after { content: ' '; background-color: #fff; position: absolute; bottom: -5px; left: 50%; width: 10px; height: 10px; border: 1px solid #b6b6b6; border-width: 1px 0 0 1px; z-index: 1001; margin-left: -5px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg) }